*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #0056b3;
  margin-bottom: 20px;
  text-decoration: black underline;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
h2 {
  color: #333;
  margin-bottom: 30px;
}

.box {
  background: white;
  padding: 15px;
  margin: 15px auto;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

button {
  padding: 10px 5px;
  width: 40%;
  background:#0056b3;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border:none;
  margin-bottom: 10px;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background: black;
  color: white;
  transition: 0.4s;
}

div[id^="q"] {
  margin-top: 10px;
  font-weight: bold;
    color: #333;
}
